<div class="row g-3 m-5">
    <select [(ngModel)]="filterPeriode" class="col-md-4" id="selectPeriode">
      <option selected value="">Toutes périodes</option>
      <option *ngFor="let p of periods$ | async "
      [value]="p.name" >
          {{ p.name }}
      </option>
  </select>
    <div class="col-md-1"></div>
    <select [(ngModel)]="filterCategorie" class="col-md-4" id="selectCategorie">
        <option selected value="">Toutes catégories</option>
        <option *ngFor="let c of categories$ | async "
        [value]="c.name" >
            {{ c.name }}
        </option>
    </select>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <button class="btn btn-primary" type="submit" (click)="onApplyFilter()">Appliquer filtres</button>
    </div>
  </div>