<nav class="p-4 navbar navbar-dark bg-dark">
    <a class="btn btn-dark" routerLinkActive="active-link" routerLink="/home">Accueil</a>
    <a class="btn btn-dark" routerLinkActive="active-link" routerLink="/client/client-form">Créer mon compte</a>
    <a class="btn btn-dark" routerLinkActive="active-link" routerLink="/products/product-list">Nos produits</a>
    <a class="btn btn-dark" routerLinkActive="active-link" routerLink="/products/shopping-cart">Panier
        <div id="nbProductsCart" class="m-2 translate-middle badge rounded-pill">{{ nbProducts | async }}</div>
    </a>
    <a class="btn btn-dark" routerLinkActive="active-link" routerLink="/login">Connexion</a>
</nav>