<header>
    <h2 class="m-5 text-center border-bottom border-2 border-dark">Panier</h2>
</header>

<div class="row g-3 m-1" *ngFor="let p of listProduct$ | async">
    <app-product-card [product]="p" [isInCart]="true"></app-product-card>
</div>

<div class="d-flex justify-content-center m-3" *ngIf="((listProduct$ | async)?.length==0) && justBuyed==false">
    Votre panier est vide !
</div>

<div class="d-flex justify-content-center m-3" *ngIf="justBuyed==true">
    Votre commande a bien ete prise en compte !
</div>

<div class="d-flex justify-content-center m-3" *ngIf="(listProduct$ | async)?.length!=0">
    <div class="col-12 text-center">
        <button class="btn btn-dark m-4" type="submit" (click)="onSubmit()" [disabled]="(listProduct$ | async)?.length==0">Acheter</button>
    </div>
</div>