<h2 class="mt-5 text-center">Récapitulatif des informations saisies</h2>

<div class="row g-3 m-5" *ngIf="currentClient != null">
    <p>Nom : {{currentClient.firstname}} {{currentClient.lastname}}</p>
    <p>Civilité : {{currentClient.civility}}</p>
    <p>Adresse : {{currentClient.address}} {{currentClient.zip}} {{currentClient.city}} {{currentClient.country}}</p>
    <p>Email : {{currentClient.email}}</p>
    <p>Numéro de téléphone : {{currentClient.phone | phoneFormat }}</p>
    <p>Login : {{currentClient.login}}</p>
</div>

<div class="row g-3 m-1 text-center" *ngIf="currentClient == null">
    <p>Vous devez être connecté pour consulter vos informations</p>
</div>
