<header>
    <h2 class="m-5 text-center border-bottom border-2 border-dark">Nos produits</h2>
</header>

<div class="row m-5">
  <select [(ngModel)]="filterPeriod" class="col m-1" id="selectPeriode">
    <option selected value="">Toutes périodes</option>
    <option *ngFor="let p of periods$ | async "
    [value]="p.name" >
        {{ p.name }} ({{ p.description }})
    </option>
</select>
  <select [(ngModel)]="filterCategory" class="col m-1" id="selectCategorie">
      <option selected value="">Toutes catégories</option>
      <option *ngFor="let c of categories$ | async "
      [value]="c.name" >
          {{ c.name }}
      </option>
  </select>
  <select [(ngModel)]="filterCountry" class="col m-1" id="selectPays">
    <option selected value="">Tous pays</option>
    <option *ngFor="let p of countries$ | async "
    [value]="p.name" >
        {{ p.name }}
    </option>
  </select>
  <div class="col m-1 text-end">
      <button class="btn btn-dark" type="submit" (click)="onApplyFilter()">Appliquer filtres</button>
  </div>
</div>

<div class="row g-3 m-1" *ngFor="let p of catalogue$ | async">
    <app-product-card [product]="p"></app-product-card>
</div>

<div class="d-flex justify-content-center m-3" *ngIf="(catalogue$ | async)?.length==0">
    Aucun article ne correspond à vos filtres !
</div>